---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Introduction from "../components/Introduction.astro";
import Services from "../components/Services.astro";
import Team from "../components/Team.astro";
import EmergencyBanner from "../components/EmergencyBanner.astro";
import AboutClinic from "../components/AboutClinic.astro";
import Testimonials from "../components/Testimonials.astro";
import FAQ from "../components/FAQ.astro";
import ContactSection from "../components/ContactSection.astro";
---

<Layout>
	<div id="content" class="site-content">
		<div id="primary" class="content-area" data-attr="single-page">
			<main id="main" class="site-main" role="main">
				<article
					id="post-21409"
					class="post-21409 page type-page status-publish has-post-thumbnail hentry"
				>
					<div class="entry-content">
						<div
							data-elementor-type="wp-page"
							data-elementor-id="21409"
							class="elementor elementor-21409"
						>
							<Hero />
							<Introduction />
							<Services />
							<Team />
							<EmergencyBanner />
							<AboutClinic />
							<Testimonials />
							<FAQ />
							<ContactSection />

							<!-- #main -->
							<!-- #primary -->

							<span class="icon-arrow-up"></span>
							<svg height="50" width="50"
								><circle cx="25" cy="25" r="24"></circle></svg
							>

							<script type="speculationrules">
								{
									"prefetch": [
										{
											"source": "document",
											"where": {
												"and": [
													{ "href_matches": "/*" },
													{
														"not": {
															"href_matches": [
																"/wp-*.php",
																"/wp-admin/*",
																"/wp-content/uploads/*",
																"/wp-content/*",
																"/wp-content/plugins/*",
																"/wp-content/themes/hostino/*",
																"/*\\?(.+)"
															]
														}
													},
													{
														"not": {
															"selector_matches": "a[rel~=\"nofollow\"]"
														}
													},
													{
														"not": {
															"selector_matches": ".no-prefetch, .no-prefetch a"
														}
													}
												]
											},
											"eagerness": "conservative"
										}
									]
								}
							</script>
							<!--copyscapeskip-->
							<aside
								id="moove_gdpr_cookie_info_bar"
								class="moove-gdpr-info-bar-hidden moove-gdpr-align-center moove-gdpr-dark-scheme gdpr_infobar_postion_bottom"
								aria-label="Bannière de cookies GDPR"
								style="display: none;"
							>
								<div class="moove-gdpr-info-bar-container">
									<div class="moove-gdpr-info-bar-content">
										<div class="moove-gdpr-cookie-notice">
											<p>
												Nous utilisons des cookies pour
												vous offrir la meilleure
												expérience sur notre site.
											</p><p>
												You can find out more about
												which cookies we are using or
												switch them off in <button
													aria-haspopup="true"
													data-href="#moove_gdpr_cookie_modal"
													class="change-settings-button"
													>settings</button
												>.
											</p>
										</div>
										<!--  .moove-gdpr-cookie-notice -->

										<div class="moove-gdpr-button-holder">
											<button
												class="mgbutton moove-gdpr-infobar-allow-all gdpr-fbo-0"
												aria-label="Accepter"
												>Accepter</button
											>
										</div>
										<!--  .button-container -->
									</div>
									<!-- moove-gdpr-info-bar-content -->
								</div>
								<!-- moove-gdpr-info-bar-container -->
							</aside>
							<!-- #moove_gdpr_cookie_info_bar -->
							<!--/copyscapeskip-->
							<script
								type="ae1e6e319ae354d6a9fd724c-text/javascript"
							>
								const lazyloadRunObserver = () => {
									const lazyloadBackgrounds =
										document.querySelectorAll(
											`.e-con.e-parent:not(.e-lazyloaded)`,
										);
									const lazyloadBackgroundObserver =
										new IntersectionObserver(
											(entries) => {
												entries.forEach((entry) => {
													if (entry.isIntersecting) {
														let lazyloadBackground =
															entry.target;
														if (
															lazyloadBackground
														) {
															lazyloadBackground.classList.add(
																"e-lazyloaded",
															);
														}
														lazyloadBackgroundObserver.unobserve(
															entry.target,
														);
													}
												});
											},
											{
												rootMargin:
													"200px 0px 200px 0px",
											},
										);
									lazyloadBackgrounds.forEach(
										(lazyloadBackground) => {
											lazyloadBackgroundObserver.observe(
												lazyloadBackground,
											);
										},
									);
								};
								const events = [
									"DOMContentLoaded",
									"elementor/lazyload/observe",
								];
								events.forEach((event) => {
									document.addEventListener(
										event,
										lazyloadRunObserver,
									);
								});
							</script>
							<!-- Call Now Button 1.5.5 (https://callnowbutton.com) [renderer:modern]-->
							<a
								aria-label="Call Now Button"
								href="tel:+212 5399-49094"
								id="callnowbutton"
								class="call-now-button cnb-zoom-100 cnb-zindex-10 cnb-single cnb-right cnb-displaymode cnb-displaymode-mobile-only"
								style="background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiI+PHBhdGggZD0iTTI3LjAxMzU1LDIzLjQ4ODU5bC0xLjc1MywxLjc1MzA1YTUuMDAxLDUuMDAxLDAsMCwxLTUuMTk5MjgsMS4xODI0M2MtMS45NzE5My0uNjkzNzItNC44NzMzNS0yLjM2NDM4LTguNDM4NDgtNS45Mjk1UzYuMzg3LDE0LjAyOCw1LjY5MzMsMTIuMDU2MTVBNS4wMDA3OCw1LjAwMDc4LDAsMCwxLDYuODc1NzMsNi44NTY4N0w4LjYyODc4LDUuMTAzNzZhMSwxLDAsMCwxLDEuNDE0MzEuMDAwMTJsMi44MjgsMi44Mjg4QTEsMSwwLDAsMSwxMi44NzEsOS4zNDY4TDExLjA2NDcsMTEuMTUzYTEuMDAzOCwxLjAwMzgsMCwwLDAtLjA4MjEsMS4zMjE3MSw0MC43NDI3OCw0MC43NDI3OCwwLDAsMCw0LjA3NjI0LDQuNTgzNzQsNDAuNzQxNDMsNDAuNzQxNDMsMCwwLDAsNC41ODM3NCw0LjA3NjIzLDEuMDAzNzksMS4wMDM3OSwwLDAsMCwxLjMyMTcxLS4wODIwOWwxLjgwNjIyLTEuODA2MjdhMSwxLDAsMCwxLDEuNDE0MTItLjAwMDEybDIuODI4OCwyLjgyOEExLjAwMDA3LDEuMDAwMDcsMCwwLDEsMjcuMDEzNTUsMjMuNDg4NTlaIiBmaWxsPSIjZmZmZmZmIi8+PC9zdmc+); background-color:#008A00;"
								><span>Call Now Button</span></a
							><script
								src="https://www.cliniquejbellakbir.ma/wp-content/plugins/elementor/assets/js/webpack.runtime.min.js?ver=3.32.4"
								id="elementor-webpack-runtime-js"
								type="ae1e6e319ae354d6a9fd724c-text/javascript"
							></script>
							<script
								src="https://www.cliniquejbellakbir.ma/wp-content/plugins/elementor/assets/js/frontend-modules.min.js?ver=3.32.4"
								id="elementor-frontend-modules-js"
								type="ae1e6e319ae354d6a9fd724c-text/javascript"
							></script>
							<script
								src="https://www.cliniquejbellakbir.ma/wp-includes/js/jquery/ui/core.min.js?ver=1.13.3"
								id="jquery-ui-core-js"
								type="ae1e6e319ae354d6a9fd724c-text/javascript"
							></script>
							<script
								id="elementor-frontend-js-before"
								type="ae1e6e319ae354d6a9fd724c-text/javascript"
							>
								var elementorFrontendConfig = {
									environmentMode: {
										edit: false,
										wpPreview: false,
										isScriptDebug: false,
									},
									i18n: {
										shareOnFacebook:
											"Partager sur Facebook",
										shareOnTwitter: "Partager sur Twitter",
										pinIt: "L\u2019\u00e9pingler",
										download: "T\u00e9l\u00e9charger",
										downloadImage:
											"T\u00e9l\u00e9charger une image",
										fullscreen: "Plein \u00e9cran",
										zoom: "Zoom",
										share: "Partager",
										playVideo: "Lire la vid\u00e9o",
										previous: "Pr\u00e9c\u00e9dent",
										next: "Suivant",
										close: "Fermer",
										a11yCarouselPrevSlideMessage:
											"Diapositive pr\u00e9c\u00e9dente",
										a11yCarouselNextSlideMessage:
											"Diapositive suivante",
										a11yCarouselFirstSlideMessage:
											"Ceci est la premi\u00e8re diapositive",
										a11yCarouselLastSlideMessage:
											"Ceci est la derni\u00e8re diapositive",
										a11yCarouselPaginationBulletMessage:
											"Aller \u00e0 la diapositive",
									},
									is_rtl: false,
									breakpoints: {
										xs: 0,
										sm: 480,
										md: 768,
										lg: 1025,
										xl: 1440,
										xxl: 1600,
									},
									responsive: {
										breakpoints: {
											mobile: {
												label: "Portrait mobile",
												value: 767,
												default_value: 767,
												direction: "max",
												is_enabled: true,
											},
											mobile_extra: {
												label: "Mobile Paysage",
												value: 880,
												default_value: 880,
												direction: "max",
												is_enabled: false,
											},
											tablet: {
												label: "Tablette en mode portrait",
												value: 1024,
												default_value: 1024,
												direction: "max",
												is_enabled: true,
											},
											tablet_extra: {
												label: "Tablette en mode paysage",
												value: 1200,
												default_value: 1200,
												direction: "max",
												is_enabled: false,
											},
											laptop: {
												label: "Portable",
												value: 1366,
												default_value: 1366,
												direction: "max",
												is_enabled: false,
											},
											widescreen: {
												label: "\u00c9cran large",
												value: 2400,
												default_value: 2400,
												direction: "min",
												is_enabled: false,
											},
										},
										hasCustomBreakpoints: false,
									},
									version: "3.32.4",
									is_static: false,
									experimentalFeatures: {
										additional_custom_breakpoints: true,
										container: true,
										"nested-elements": true,
										home_screen: true,
										global_classes_should_enforce_capabilities: true,
										e_variables: true,
										"cloud-library": true,
										e_opt_in_v4_page: true,
										"import-export-customization": true,
									},
									urls: {
										assets: "https:\/\/www.cliniquejbellakbir.ma\/wp-content\/plugins\/elementor\/assets\/",
										ajaxurl:
											"https:\/\/www.cliniquejbellakbir.ma\/wp-admin\/admin-ajax.php",
										uploadUrl:
											"https:\/\/www.cliniquejbellakbir.ma\/wp-content\/uploads",
									},
									nonces: {
										floatingButtonsClickTracking:
											"344591cea4",
									},
									swiperClass: "swiper",
									settings: {
										page: [],
										editorPreferences: [],
									},
									kit: {
										active_breakpoints: [
											"viewport_mobile",
											"viewport_tablet",
										],
										global_image_lightbox: "yes",
										lightbox_enable_counter: "yes",
										lightbox_enable_fullscreen: "yes",
										lightbox_enable_zoom: "yes",
										lightbox_enable_share: "yes",
										lightbox_title_src: "title",
										lightbox_description_src: "description",
									},
									post: {
										id: 21409,
										title: "Clinique%20de%20Gyn%C3%A9cologie%20%C3%A0%20Tanger%20%7C%20Prenez%20rendez-vous",
										excerpt: "",
										featuredImage:
											"https:\/\/www.cliniquejbellakbir.ma\/wp-content\/uploads\/2025\/11\/gyneco-tanger.jpg",
									},
								};
								//# sourceURL=elementor-frontend-js-before
							</script>
							<script
								src="https://www.cliniquejbellakbir.ma/wp-content/plugins/elementor/assets/js/frontend.min.js?ver=3.32.4"
								id="elementor-frontend-js"
								type="ae1e6e319ae354d6a9fd724c-text/javascript"
							></script>
							<script
								src="https://www.cliniquejbellakbir.ma/wp-content/themes/hostino/assets/js/front-end.js?ver=1.3"
								id="sierra-scripts-js"
								type="ae1e6e319ae354d6a9fd724c-text/javascript"
							></script>
							<script
								src="https://www.cliniquejbellakbir.ma/wp-content/plugins/elementskit-lite/libs/framework/assets/js/frontend-script.js?ver=3.7.3"
								id="elementskit-framework-js-frontend-js"
								type="ae1e6e319ae354d6a9fd724c-text/javascript"
							></script>
							<script
								id="elementskit-framework-js-frontend-js-after"
								type="ae1e6e319ae354d6a9fd724c-text/javascript"
							>
								var elementskit = {
									resturl:
										"https://www.cliniquejbellakbir.ma/wp-json/elementskit/v1/",
								};

								//# sourceURL=elementskit-framework-js-frontend-js-after
							</script>
							<script
								src="https://www.cliniquejbellakbir.ma/wp-content/plugins/elementskit-lite/widgets/init/assets/js/widget-scripts.js?ver=3.7.3"
								id="ekit-widget-scripts-js"
								type="ae1e6e319ae354d6a9fd724c-text/javascript"
							></script>
							<script
								src="https://www.cliniquejbellakbir.ma/wp-content/plugins/elementskit/modules/parallax/assets/js/anime.js?ver=3.6.5"
								id="animejs-js"
								type="ae1e6e319ae354d6a9fd724c-text/javascript"
							></script>
							<script
								defer
								src="https://www.cliniquejbellakbir.ma/wp-content/plugins/elementskit/modules/parallax/assets/js/parallax-frontend.js?ver=3.6.5"
								id="elementskit-parallax-frontend-defer-js"
								type="ae1e6e319ae354d6a9fd724c-text/javascript"
							></script>
							<script
								src="https://www.cliniquejbellakbir.ma/wp-content/plugins/keydesign-framework/assets/js/keydesign-framework.js?ver=1.6.3"
								id="keydesign-scripts-js"
								type="ae1e6e319ae354d6a9fd724c-text/javascript"
							></script>
							<script
								id="moove_gdpr_frontend-js-extra"
								type="ae1e6e319ae354d6a9fd724c-text/javascript"
							>
								var moove_frontend_gdpr_scripts = {
									ajaxurl:
										"https://www.cliniquejbellakbir.ma/wp-admin/admin-ajax.php",
									post_id: "21409",
									plugin_dir:
										"https://www.cliniquejbellakbir.ma/wp-content/plugins/gdpr-cookie-compliance",
									show_icons: "all",
									is_page: "1",
									ajax_cookie_removal: "false",
									strict_init: "2",
									enabled_default: {
										strict: 1,
										third_party: 0,
										advanced: 0,
										performance: 0,
										preference: 0,
									},
									geo_location: "false",
									force_reload: "false",
									is_single: "",
									hide_save_btn: "false",
									current_user: "0",
									cookie_expiration: "365",
									script_delay: "2000",
									close_btn_action: "1",
									close_btn_rdr: "",
									scripts_defined:
										'{"cache":true,"header":"","body":"","footer":"","thirdparty":{"header":"","body":"","footer":""},"strict":{"header":"","body":"","footer":""},"advanced":{"header":"","body":"","footer":""}}',
									gdpr_scor: "true",
									wp_lang: "",
									wp_consent_api: "false",
									gdpr_nonce: "2b8ac85c4c",
								};
								//# sourceURL=moove_gdpr_frontend-js-extra
							</script>
							<script
								src="https://www.cliniquejbellakbir.ma/wp-content/plugins/gdpr-cookie-compliance/dist/scripts/main.js?ver=5.0.9"
								id="moove_gdpr_frontend-js"
								type="ae1e6e319ae354d6a9fd724c-text/javascript"
							></script>
							<script
								id="moove_gdpr_frontend-js-after"
								type="ae1e6e319ae354d6a9fd724c-text/javascript"
							>
								var gdpr_consent__strict = "false";
								var gdpr_consent__thirdparty = "false";
								var gdpr_consent__advanced = "false";
								var gdpr_consent__performance = "false";
								var gdpr_consent__preference = "false";
								var gdpr_consent__cookies = "";
								//# sourceURL=moove_gdpr_frontend-js-after
							</script>
							<script
								src="https://cdn.trustindex.io/loader.js?ver=1"
								id="trustindex-loader-js-js"
								async
								data-wp-strategy="async"
								type="ae1e6e319ae354d6a9fd724c-text/javascript"
							></script>
							<script
								src="https://www.cliniquejbellakbir.ma/wp-content/plugins/elfsight-form-builder-cc/assets/elfsight-form-builder.js?ver=1.5.1"
								id="elfsight-form-builder-js"
								type="ae1e6e319ae354d6a9fd724c-text/javascript"
							></script>
							<script
								src="https://www.cliniquejbellakbir.ma/wp-content/plugins/elementskit-lite/widgets/init/assets/js/animate-circle.min.js?ver=3.7.3"
								id="animate-circle-js"
								type="ae1e6e319ae354d6a9fd724c-text/javascript"
							></script>
							<script
								id="elementskit-elementor-js-extra"
								type="ae1e6e319ae354d6a9fd724c-text/javascript"
							>
								var ekit_config = {
									ajaxurl:
										"https://www.cliniquejbellakbir.ma/wp-admin/admin-ajax.php",
									nonce: "fc21814253",
								};
								//# sourceURL=elementskit-elementor-js-extra
							</script>
							<script
								src="https://www.cliniquejbellakbir.ma/wp-content/plugins/elementskit-lite/widgets/init/assets/js/elementor.js?ver=3.7.3"
								id="elementskit-elementor-js"
								type="ae1e6e319ae354d6a9fd724c-text/javascript"
							></script>
							<script
								src="https://www.cliniquejbellakbir.ma/wp-content/plugins/elementskit/widgets/init/assets/js/elementor.js?ver=3.6.5"
								id="elementskit-elementor-pro-js"
								type="ae1e6e319ae354d6a9fd724c-text/javascript"
							></script>
							<script
								defer
								src="https://www.cliniquejbellakbir.ma/wp-content/plugins/elementskit/modules/sticky-content/assets/js/elementskit-sticky-content.js?ver=3.6.5"
								id="elementskit-sticky-content-script-init-defer-js"
								type="ae1e6e319ae354d6a9fd724c-text/javascript"
							></script>
							<script
								defer
								src="https://www.cliniquejbellakbir.ma/wp-content/plugins/elementskit/modules/parallax/assets/js/parallax-admin.js?ver=3.6.5"
								id="elementskit-parallax-admin-defer-js"
								type="ae1e6e319ae354d6a9fd724c-text/javascript"
							></script>
							<script
								src="https://www.cliniquejbellakbir.ma/wp-content/plugins/elementskit/modules/wrapper-link/assets/js/wrapper.js?ver=3.6.5"
								id="elementskit-wrapper-js"
								type="ae1e6e319ae354d6a9fd724c-text/javascript"
							></script>
							<script
								src="https://www.cliniquejbellakbir.ma/wp-content/plugins/elementskit/modules/mouse-cursor/assets/js/cotton.min.js?ver=3.6.5"
								id="cotton-js"
								type="ae1e6e319ae354d6a9fd724c-text/javascript"
							></script>
							<script
								src="https://www.cliniquejbellakbir.ma/wp-content/plugins/elementskit/modules/mouse-cursor/assets/js/mouse-cursor-scripts.js?ver=3.6.5"
								id="mouse-cursor-js"
								type="ae1e6e319ae354d6a9fd724c-text/javascript"
							></script>
							<script
								id="wp-emoji-settings"
								type="application/json"
							>
								{
									"baseUrl": "https://s.w.org/images/core/emoji/17.0.2/72x72/",
									"ext": ".png",
									"svgUrl": "https://s.w.org/images/core/emoji/17.0.2/svg/",
									"svgExt": ".svg",
									"source": {
										"concatemoji": "https://www.cliniquejbellakbir.ma/wp-includes/js/wp-emoji-release.min.js?ver=6.9.1"
									}
								}
							</script>
							<script type="ae1e6e319ae354d6a9fd724c-module">
								/*! This file is auto-generated */
								const a = JSON.parse(
										document.getElementById(
											"wp-emoji-settings",
										).textContent,
									),
									o =
										((window._wpemojiSettings = a),
										"wpEmojiSettingsSupports"),
									s = ["flag", "emoji"];
								function i(e) {
									try {
										var t = {
											supportTests: e,
											timestamp: new Date().valueOf(),
										};
										sessionStorage.setItem(
											o,
											JSON.stringify(t),
										);
									} catch (e) {}
								}
								function c(e, t, n) {
									(e.clearRect(
										0,
										0,
										e.canvas.width,
										e.canvas.height,
									),
										e.fillText(t, 0, 0));
									t = new Uint32Array(
										e.getImageData(
											0,
											0,
											e.canvas.width,
											e.canvas.height,
										).data,
									);
									(e.clearRect(
										0,
										0,
										e.canvas.width,
										e.canvas.height,
									),
										e.fillText(n, 0, 0));
									const a = new Uint32Array(
										e.getImageData(
											0,
											0,
											e.canvas.width,
											e.canvas.height,
										).data,
									);
									return t.every((e, t) => e === a[t]);
								}
								function p(e, t) {
									(e.clearRect(
										0,
										0,
										e.canvas.width,
										e.canvas.height,
									),
										e.fillText(t, 0, 0));
									var n = e.getImageData(16, 16, 1, 1);
									for (let e = 0; e < n.data.length; e++)
										if (0 !== n.data[e]) return !1;
									return !0;
								}
								function u(e, t, n, a) {
									switch (t) {
										case "flag":
											return n(
												e,
												"\ud83c\udff3\ufe0f\u200d\u26a7\ufe0f",
												"\ud83c\udff3\ufe0f\u200b\u26a7\ufe0f",
											)
												? !1
												: !n(
														e,
														"\ud83c\udde8\ud83c\uddf6",
														"\ud83c\udde8\u200b\ud83c\uddf6",
													) &&
														!n(
															e,
															"\ud83c\udff4\udb40\udc67\udb40\udc62\udb40\udc65\udb40\udc6e\udb40\udc67\udb40\udc7f",
															"\ud83c\udff4\u200b\udb40\udc67\u200b\udb40\udc62\u200b\udb40\udc65\u200b\udb40\udc6e\u200b\udb40\udc67\u200b\udb40\udc7f",
														);
										case "emoji":
											return !a(e, "\ud83e\u1fac8");
									}
									return !1;
								}
								function f(e, t, n, a) {
									let r;
									const o = (r =
											"undefined" !=
												typeof WorkerGlobalScope &&
											self instanceof WorkerGlobalScope
												? new OffscreenCanvas(300, 150)
												: document.createElement(
														"canvas",
													)).getContext("2d", {
											willReadFrequently: !0,
										}),
										s =
											((o.textBaseline = "top"),
											(o.font = "600 32px Arial"),
											{});
									return (
										e.forEach((e) => {
											s[e] = t(o, e, n, a);
										}),
										s
									);
								}
								function r(e) {
									var t = document.createElement("script");
									((t.src = e),
										(t.defer = !0),
										document.head.appendChild(t));
								}
								((a.supports = {
									everything: !0,
									everythingExceptFlag: !0,
								}),
									new Promise((t) => {
										let n = (function () {
											try {
												var e = JSON.parse(
													sessionStorage.getItem(o),
												);
												if (
													"object" == typeof e &&
													"number" ==
														typeof e.timestamp &&
													new Date().valueOf() <
														e.timestamp + 604800 &&
													"object" ==
														typeof e.supportTests
												)
													return e.supportTests;
											} catch (e) {}
											return null;
										})();
										if (!n) {
											if (
												"undefined" != typeof Worker &&
												"undefined" !=
													typeof OffscreenCanvas &&
												"undefined" != typeof URL &&
												URL.createObjectURL &&
												"undefined" != typeof Blob
											)
												try {
													var e =
															"postMessage(" +
															f.toString() +
															"(" +
															[
																JSON.stringify(
																	s,
																),
																u.toString(),
																c.toString(),
																p.toString(),
															].join(",") +
															"));",
														a = new Blob([e], {
															type: "text/javascript",
														});
													const r = new Worker(
														URL.createObjectURL(a),
														{
															name: "wpTestEmojiSupports",
														},
													);
													return void (r.onmessage = (
														e,
													) => {
														(i((n = e.data)),
															r.terminate(),
															t(n));
													});
												} catch (e) {}
											i((n = f(s, u, c, p)));
										}
										t(n);
									}).then((e) => {
										for (const n in e)
											((a.supports[n] = e[n]),
												(a.supports.everything =
													a.supports.everything &&
													a.supports[n]),
												"flag" !== n &&
													(a.supports.everythingExceptFlag =
														a.supports
															.everythingExceptFlag &&
														a.supports[n]));
										var t;
										((a.supports.everythingExceptFlag =
											a.supports.everythingExceptFlag &&
											!a.supports.flag),
											a.supports.everything ||
												((t = a.source || {})
													.concatemoji
													? r(t.concatemoji)
													: t.wpemoji &&
														t.twemoji &&
														(r(t.twemoji),
														r(t.wpemoji))));
									}));
								//# sourceURL=https://www.cliniquejbellakbir.ma/wp-includes/js/wp-emoji-loader.min.js
							</script>

							<!--copyscapeskip-->
							<!-- V1 -->
							<dialog
								id="moove_gdpr_cookie_modal"
								class="gdpr_lightbox-hide"
								aria-modal="true"
								aria-label="Écran des réglages GDPR"
							>
								<div
									class="moove-gdpr-modal-content moove-clearfix logo-position-left moove_gdpr_modal_theme_v1"
								>
									<button
										class="moove-gdpr-modal-close"
										autofocus
										aria-label="Fermer les réglages des cookies GDPR"
									>
										<span class="gdpr-sr-only"
											>Fermer les réglages des cookies
											GDPR</span
										>
										<span
											class="gdpr-icon moovegdpr-arrow-close"
										></span>
									</button>
									<div class="moove-gdpr-modal-left-content">
										<div
											class="moove-gdpr-company-logo-holder"
										>
											<img
												src="https://www.cliniquejbellakbir.ma/wp-content/plugins/gdpr-cookie-compliance/dist/images/gdpr-logo.png"
												alt="Clinique Jbel La kbir"
												width="350"
												height="233"
												class="img-responsive"
											/>
										</div>
										<!--  .moove-gdpr-company-logo-holder -->
										<ul id="moove-gdpr-menu">
											<li
												class="menu-item-on menu-item-privacy_overview menu-item-selected"
											>
												<button
													data-href="#privacy_overview"
													class="moove-gdpr-tab-nav"
													aria-label="Résumé de la politique de confidentialité"
												>
													<span
														class="gdpr-nav-tab-title"
														>Résumé de la politique
														de confidentialité</span
													>
												</button>
											</li>

											<li
												class="menu-item-strict-necessary-cookies menu-item-off"
											>
												<button
													data-href="#strict-necessary-cookies"
													class="moove-gdpr-tab-nav"
													aria-label="Cookies strictement nécessaires"
												>
													<span
														class="gdpr-nav-tab-title"
														>Cookies strictement
														nécessaires</span
													>
												</button>
											</li>
										</ul>

										<div class="moove-gdpr-branding-cnt">
											<a
												href="https://wordpress.org/plugins/gdpr-cookie-compliance/"
												rel="noopener noreferrer"
												target="_blank"
												class="moove-gdpr-branding"
												>Powered by&nbsp; <span
													>GDPR Cookie Compliance</span
												></a
											>
										</div>
										<!--  .moove-gdpr-branding -->
									</div>
									<!--  .moove-gdpr-modal-left-content -->
									<div class="moove-gdpr-modal-right-content">
										<div class="moove-gdpr-modal-title">
										</div>
										<!-- .moove-gdpr-modal-ritle -->
										<div class="main-modal-content">
											<div class="moove-gdpr-tab-content">
												<div
													id="privacy_overview"
													class="moove-gdpr-tab-main"
												>
													<span class="tab-title"
														>Résumé de la politique
														de confidentialité</span
													>
													<div
														class="moove-gdpr-tab-main-content"
													>
														<p>
															Ce site utilise des
															cookies afin que
															nous puissions vous
															fournir la meilleure
															expérience
															utilisateur
															possible. Les
															informations sur les
															cookies sont
															stockées dans votre
															navigateur et
															remplissent des
															fonctions telles que
															vous reconnaître
															lorsque vous revenez
															sur notre site Web
															et aider notre
															équipe à comprendre
															les sections du site
															que vous trouvez les
															plus intéressantes
															et utiles.
														</p>
													</div>
													<!--  .moove-gdpr-tab-main-content -->
												</div>
												<!-- #privacy_overview -->

												<div
													id="strict-necessary-cookies"
													class="moove-gdpr-tab-main"
													style="display:none"
												>
													<span class="tab-title"
														>Cookies strictement
														nécessaires</span
													>
													<div
														class="moove-gdpr-tab-main-content"
													>
														<p>
															Cette option doit
															être activée à tout
															moment afin que nous
															puissions
															enregistrer vos
															préférences pour les
															réglages de cookie.
														</p>
														<div
															class="moove-gdpr-status-bar"
														>
															<div
																class="gdpr-cc-form-wrap"
															>
																<div
																	class="gdpr-cc-form-fieldset"
																>
																	<label
																		class="cookie-switch"
																		for="moove_gdpr_strict_cookies"
																	>
																		<span
																			class="gdpr-sr-only"
																			>Activer
																			ou
																			désactiver
																			les
																			cookies</span
																		>
																		<input
																			type="checkbox"
																			aria-label="Cookies strictement nécessaires"
																			value="check"
																			name="moove_gdpr_strict_cookies"
																			id="moove_gdpr_strict_cookies"
																		/>
																		<span
																			class="cookie-slider cookie-round gdpr-sr"
																			data-text-enable="Activé"
																			data-text-disabled="Désactivé"
																		>
																			<span
																				class="gdpr-sr-label"
																			>
																				<span
																					class="gdpr-sr-enable"
																					>Activé</span
																				>
																				<span
																					class="gdpr-sr-disable"
																					>Désactivé</span
																				>
																			</span>
																		</span>
																	</label>
																</div>
																<!-- .gdpr-cc-form-fieldset -->
															</div>
															<!-- .gdpr-cc-form-wrap -->
														</div>
														<!-- .moove-gdpr-status-bar -->
													</div>
													<!--  .moove-gdpr-tab-main-content -->
												</div>
												<!-- #strict-necesarry-cookies -->
											</div>
											<!--  .moove-gdpr-tab-content -->
										</div>
										<!--  .main-modal-content -->
										<div
											class="moove-gdpr-modal-footer-content"
										>
											<div
												class="moove-gdpr-button-holder"
											>
												<button
													class="mgbutton moove-gdpr-modal-allow-all button-visible"
													aria-label="Tout activer"
													>Tout activer</button
												>
												<button
													class="mgbutton moove-gdpr-modal-save-settings button-visible"
													aria-label="Enregistrer les réglages"
													>Enregistrer les réglages</button
												>
											</div>
											<!--  .moove-gdpr-button-holder -->
										</div>
										<!--  .moove-gdpr-modal-footer-content -->
									</div>
									<!--  .moove-gdpr-modal-right-content -->

									<div class="moove-clearfix"></div>
								</div>
								<!--  .moove-gdpr-modal-content -->
							</dialog>
							<!-- #moove_gdpr_cookie_modal -->
							<!--/copyscapeskip-->

							<script
								src="/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js"
								data-cf-settings="ae1e6e319ae354d6a9fd724c-|49"
								defer></script><script
								defer
								src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015"
								integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ=="
								data-cf-beacon='{"version":"2024.11.0","token":"bbe0ca8a8a9a47aea7b0774240f1c2be","r":1,"server_timing":{"name":{"cfCacheStatus":true,"cfEdge":true,"cfExtPri":true,"cfL4":true,"cfOrigin":true,"cfSpeedBrain":true},"location_startswith":null}}'
								crossorigin="anonymous"></script>
						</div>
					</div>
				</article>
			</main>
		</div>
	</div>
</Layout>
