---
---
<footer id="site-footer" class="site-footer footer-position-default" role="contentinfo"><div class="ekit-template-content-markup ekit-template-content-footer ekit-template-content-theme-support">
		<div data-elementor-type="wp-post" data-elementor-id="823" class="elementor elementor-823">
				<div class="elementor-element elementor-element-573213b8 e-flex e-con-boxed e-con e-parent" data-id="573213b8" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
					<div class="e-con-inner">
		<div class="elementor-element elementor-element-d3fb197 e-con-full e-flex e-con e-child" data-id="d3fb197" data-element_type="container">
		<div class="elementor-element elementor-element-572f0beb e-con-full e-flex e-con e-child" data-id="572f0beb" data-element_type="container">
		<div class="elementor-element elementor-element-685f65b8 e-con-full e-flex e-con e-child" data-id="685f65b8" data-element_type="container">
				<div class="elementor-element elementor-element-5a8ed320 elementor-widget elementor-widget-image" data-id="5a8ed320" data-element_type="widget" data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}" data-widget_type="image.default">
				<div class="elementor-widget-container">
																<a href="#">
							<img width="536" height="215" src="https://www.cliniquejbellakbir.ma/wp-content/uploads/2023/09/jbel-logo.png" class="attachment-full size-full wp-image-30616" alt="Logo Jbel Lakbir" />								</a>
															</div>
				</div>
				<div class="elementor-element elementor-element-40a1a0d4 elementor-widget elementor-widget-elementskit-social-media" data-id="40a1a0d4" data-element_type="widget" data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}" data-widget_type="elementskit-social-media.default">
				<div class="elementor-widget-container">
					<div class="ekit-wid-con" >			 <ul class="ekit_social_media">
														<li class="elementor-repeater-item-172011e">
					    <a
						href="https://www.instagram.com/clinique_jbel_lakbir/" aria-label="Facebook" class="f" >
							
							<i aria-hidden="true" class="fab fa-facebook-f"></i>
                                                                                                            </a>
                    </li>
                    														<li class="elementor-repeater-item-686a61a">
					    <a
						href="https://www.linkedin.com/company/hostino" aria-label="Linkedin" class="linkedin" >
							
							<i aria-hidden="true" class="icon icon-linkedin"></i>
                                                                                                            </a>
                    </li>
                    							</ul>
		</div>				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-298e3dd8 e-con-full e-flex e-con e-child" data-id="298e3dd8" data-element_type="container">
				<div class="elementor-element elementor-element-57a698d elementor-widget elementor-widget-heading" data-id="57a698d" data-element_type="widget" data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h5 class="elementor-heading-title elementor-size-default">MENU PRINCIPAL</h5>				</div>
				</div>
				<div class="elementor-element elementor-element-7fb99314 elementor-list-item-link-inline elementor-icon-list--layout-traditional elementor-widget elementor-widget-icon-list" data-id="7fb99314" data-element_type="widget" data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
							<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item">
											<a href="https://www.cliniquejbellakbir.ma" target="_blank">

											<span class="elementor-icon-list-text">ACCUEIL</span>
											</a>
									</li>
								<li class="elementor-icon-list-item">
											<a href="https://www.cliniquejbellakbir.ma/contact" target="_blank">

											<span class="elementor-icon-list-text">RDV EN LIGNE</span>
											</a>
									</li>
								<li class="elementor-icon-list-item">
											<a href="#" target="_blank">

											<span class="elementor-icon-list-text">SPÉCIALITÉS</span>
											</a>
									</li>
								<li class="elementor-icon-list-item">
											<a href="https://www.cliniquejbellakbir.ma/equipe" target="_blank">

											<span class="elementor-icon-list-text">NOTRE ÉQUIPE</span>
											</a>
									</li>
						</ul>
						</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-3b7ea538 e-con-full e-flex e-con e-child" data-id="3b7ea538" data-element_type="container">
				<div class="elementor-element elementor-element-433f6e2 elementor-widget elementor-widget-elementskit-heading" data-id="433f6e2" data-element_type="widget" data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}" data-widget_type="elementskit-heading.default">
				<div class="elementor-widget-container">
					<div class="ekit-wid-con" ><div class="ekit-heading elementskit-section-title-wraper text_left   ekit_heading_tablet-   ekit_heading_mobile-"><h6 class="elementskit-section-subtitle   ekit-heading__subtitle-has-border">
						Prise de rendez-vous
					</h6><h2 class="ekit-heading--title elementskit-section-title "><span><span>+212 5399-49094</span></span></h2></div></div>				</div>
				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-c3817e8 e-con-full e-flex e-con e-child" data-id="c3817e8" data-element_type="container">
		<div class="elementor-element elementor-element-dd8f604 e-con-full e-flex e-con e-child" data-id="dd8f604" data-element_type="container">
				<div class="elementor-element elementor-element-ae27b76 elementor-widget elementor-widget-text-editor" data-id="ae27b76" data-element_type="widget" data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p>© All Rights Reserved 2025.</p>								</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-ef61413 e-con-full e-flex e-con e-child" data-id="ef61413" data-element_type="container">
				<div class="elementor-element elementor-element-a18a87c elementor-mobile-align-left elementor-icon-list--layout-inline elementor-align-right elementor-tablet-align-right elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="a18a87c" data-element_type="widget" data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
							<ul class="elementor-icon-list-items elementor-inline-items">
							<li class="elementor-icon-list-item elementor-inline-item">
											<a href="https://www.cliniquejbellakbir.ma/mentions-legales">

											<span class="elementor-icon-list-text">Mentions Légales</span>
											</a>
									</li>
								<li class="elementor-icon-list-item elementor-inline-item">
											<a href="https://www.cliniquejbellakbir.ma/politique-de-confidentialite">

											<span class="elementor-icon-list-text">Politique de confidentialité</span>
											</a>
									</li>
						</ul>
						</div>
				</div>
				</div>
				</div>
				</div>
					</div>
				</div>
				</div>
		</div>
</footer>