---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
  title?: string;
  description?: string;
}

const {
  title = 'Clinique de Gynécologie à Tanger | Prenez rendez-vous',
  description = 'Clinique de Gynécologie Tanger. Service de Gynécologie-Obstétrique, Maternité et Chirurgie. Urgences gynécologiques 24h/24 ☎️ 05399-49094',
} = Astro.props;
---
<!DOCTYPE html>
<html lang="fr-FR" prefix="og: https://ogp.me/ns#">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		
<!-- Optimisation des moteurs de recherche par Rank Math PRO - https://rankmath.com/ -->
<title>Clinique de Gynécologie à Tanger | Prenez rendez-vous</title>
<meta name="description" content="Clinique de Gynécologie Tanger. Service de Gynécologie-Obstétrique, Maternité et Chirurgie. Urgences gynécologiques 24h/24 ☎️ 05399-49094"/>
<meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large"/>
<link rel="canonical" href="https://www.cliniquejbellakbir.ma/" />
<meta property="og:locale" content="fr_FR" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Clinique de Gynécologie à Tanger | Prenez rendez-vous" />
<meta property="og:description" content="Clinique de Gynécologie Tanger. Service de Gynécologie-Obstétrique, Maternité et Chirurgie. Urgences gynécologiques 24h/24 ☎️ 05399-49094" />
<meta property="og:url" content="https://www.cliniquejbellakbir.ma/" />
<meta property="og:site_name" content="Clinique Jbel Lakbir" />
<meta property="og:updated_time" content="2025-11-03T19:51:44+00:00" />
<meta property="og:image" content="https://www.cliniquejbellakbir.ma/wp-content/uploads/2025/11/gyneco-tanger.jpg" />
<meta property="og:image:secure_url" content="https://www.cliniquejbellakbir.ma/wp-content/uploads/2025/11/gyneco-tanger.jpg" />
<meta property="og:image:width" content="800" />
<meta property="og:image:height" content="413" />
<meta property="og:image:alt" content="Gynécologie et clinique Tanger" />
<meta property="og:image:type" content="image/jpeg" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="Clinique de Gynécologie à Tanger | Prenez rendez-vous" />
<meta name="twitter:description" content="Clinique de Gynécologie Tanger. Service de Gynécologie-Obstétrique, Maternité et Chirurgie. Urgences gynécologiques 24h/24 ☎️ 05399-49094" />
<meta name="twitter:image" content="https://www.cliniquejbellakbir.ma/wp-content/uploads/2025/11/gyneco-tanger.jpg" />
<meta name="twitter:label1" content="Écrit par" />
<meta name="twitter:data1" content="admin" />
<meta name="twitter:label2" content="Temps de lecture" />
<meta name="twitter:data2" content="5 minutes" />
<script type="application/ld+json" class="rank-math-schema-pro">{"@context":"https://schema.org","@graph":[{"@type":"Place","@id":"https://www.cliniquejbellakbir.ma/#place","geo":{"@type":"GeoCoordinates","latitude":"36.54001342007519","longitude":"-4.6208866577083105"},"hasMap":"https://www.google.com/maps/search/?api=1&amp;query=36.54001342007519,-4.6208866577083105","address":{"@type":"PostalAddress","streetAddress":"C. Antonio Sede\u00f1o Cantos","addressLocality":"Fuengirola","addressRegion":"M\u00e1laga","postalCode":"29640","addressCountry":"ES"}},{"@type":"Organization","@id":"https://www.cliniquejbellakbir.ma/#organization","name":"Clinique Jbel Lakbir","url":"https://www.hostino.es","sameAs":["https://web.facebook.com/hostinocom/?_rdc=1&amp;_rdr","https://www.linkedin.com/company/hostino"],"email":"info@hostino.com","address":{"@type":"PostalAddress","streetAddress":"C. Antonio Sede\u00f1o Cantos","addressLocality":"Fuengirola","addressRegion":"M\u00e1laga","postalCode":"29640","addressCountry":"ES"},"logo":{"@type":"ImageObject","@id":"https://www.cliniquejbellakbir.ma/#logo","url":"https://www.cliniquejbellakbir.ma/wp-content/uploads/2025/10/favi.jpg","contentUrl":"https://www.cliniquejbellakbir.ma/wp-content/uploads/2025/10/favi.jpg","caption":"Clinique Jbel Lakbir","inLanguage":"fr-FR","width":"500","height":"500"},"description":"Hosting espa\u00f1ol con Soporte \u2014 El mejor Hosting Web. Apps, dominio y SSL gratis, selector PHP y Soporte. Pru\u00e9balo gratis!","legalName":"Hostino","location":{"@id":"https://www.cliniquejbellakbir.ma/#place"}},{"@type":"WebSite","@id":"https://www.cliniquejbellakbir.ma/#website","url":"https://www.cliniquejbellakbir.ma","name":"Clinique Jbel Lakbir","alternateName":"Clinique Jbel Lakbir","publisher":{"@id":"https://www.cliniquejbellakbir.ma/#organization"},"inLanguage":"fr-FR","potentialAction":{"@type":"SearchAction","target":"https://www.cliniquejbellakbir.ma/?s={search_term_string}","query-input":"required name=search_term_string"}},{"@type":"ImageObject","@id":"https://www.cliniquejbellakbir.ma/wp-content/uploads/2025/11/gyneco-tanger.jpg","url":"https://www.cliniquejbellakbir.ma/wp-content/uploads/2025/11/gyneco-tanger.jpg","width":"800","height":"413","caption":"Gyn\u00e9cologie et clinique Tanger","inLanguage":"fr-FR"},{"@type":"WebPage","@id":"https://www.cliniquejbellakbir.ma/#webpage","url":"https://www.cliniquejbellakbir.ma/","name":"Clinique de Gyn\u00e9cologie \u00e0 Tanger | Prenez rendez-vous","datePublished":"2023-09-19T19:36:54+00:00","dateModified":"2025-11-03T19:51:44+00:00","about":{"@id":"https://www.cliniquejbellakbir.ma/#organization"},"isPartOf":{"@id":"https://www.cliniquejbellakbir.ma/#website"},"primaryImageOfPage":{"@id":"https://www.cliniquejbellakbir.ma/wp-content/uploads/2025/11/gyneco-tanger.jpg"},"inLanguage":"fr-FR"}]}</script>
<!-- /Extension Rank Math WordPress SEO -->

<link rel="alternate" type="application/rss+xml" title="Clinique Jbel La kbir &raquo; Flux" href="https://www.cliniquejbellakbir.ma/feed/" />
<link rel="alternate" type="application/rss+xml" title="Clinique Jbel La kbir &raquo; Flux des commentaires" href="https://www.cliniquejbellakbir.ma/comments/feed/" />
<link rel="alternate" title="oEmbed (JSON)" type="application/json+oembed" href="https://www.cliniquejbellakbir.ma/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.cliniquejbellakbir.ma%2F" />
<link rel="alternate" title="oEmbed (XML)" type="text/xml+oembed" href="https://www.cliniquejbellakbir.ma/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.cliniquejbellakbir.ma%2F&#038;format=xml" />
<style id='wp-img-auto-sizes-contain-inline-css'>
img:is([sizes=auto i],[sizes^="auto," i]){contain-intrinsic-size:3000px 1500px}
/*# sourceURL=wp-img-auto-sizes-contain-inline-css */
</style>

<style id='wp-emoji-styles-inline-css'>

	img.wp-smiley, img.emoji {
		display: inline !important;
		border: none !important;
		box-shadow: none !important;
		height: 1em !important;
		width: 1em !important;
		margin: 0 0.07em !important;
		vertical-align: -0.1em !important;
		background: none !important;
		padding: 0 !important;
	}
/*# sourceURL=wp-emoji-styles-inline-css */
</style>
<link rel='stylesheet' id='elementor-icons-css' href='https://www.cliniquejbellakbir.ma/wp-content/plugins/elementor/assets/lib/eicons/css/elementor-icons.min.css?ver=5.44.0' media='all' />
<link rel='stylesheet' id='elementor-post-6-css' href='https://www.cliniquejbellakbir.ma/wp-content/uploads/elementor/css/post-6.css?ver=1771827934' media='all' />
<link rel='stylesheet' id='void-whmcsep-css' href='https://www.cliniquejbellakbir.ma/wp-content/plugins/elementor-whmcs-elements-pro/assets/css/style.css?ver=6.9.1' media='all' />
<link rel='stylesheet' id='cotton-css' href='https://www.cliniquejbellakbir.ma/wp-content/plugins/elementskit/modules/mouse-cursor/assets/css/style.css?ver=3.6.5' media='all' />
<link rel='stylesheet' id='widget-heading-css' href='https://www.cliniquejbellakbir.ma/wp-content/plugins/elementor/assets/css/widget-heading.min.css?ver=3.32.4' media='all' />
<link rel='stylesheet' id='widget-image-css' href='https://www.cliniquejbellakbir.ma/wp-content/plugins/elementor/assets/css/widget-image.min.css?ver=3.32.4' media='all' />
<link rel='stylesheet' id='e-animation-fadeIn-css' href='https://www.cliniquejbellakbir.ma/wp-content/plugins/elementor/assets/lib/animations/styles/fadeIn.min.css?ver=3.32.4' media='all' />
<link rel='stylesheet' id='elementor-post-21409-css' href='https://www.cliniquejbellakbir.ma/wp-content/uploads/elementor/css/post-21409.css?ver=1771848760' media='all' />
<link rel='stylesheet' id='font-awesome-min-css' href='https://www.cliniquejbellakbir.ma/wp-content/plugins/keydesign-framework/includes/admin/lib/nuxy/metaboxes/assets/vendors/font-awesome.min.css?ver=1771926199' media='all' />
<link rel='stylesheet' id='sierra-variables-css' href='https://www.cliniquejbellakbir.ma/wp-content/themes/hostino/assets/css/variables.css?ver=1.3' media='all' />
<link rel='stylesheet' id='sierra-global-css' href='https://www.cliniquejbellakbir.ma/wp-content/themes/hostino/assets/css/global.css?ver=1.3' media='all' />
<link rel='stylesheet' id='elementskit-parallax-style-css' href='https://www.cliniquejbellakbir.ma/wp-content/plugins/elementskit/modules/parallax/assets/css/style.css?ver=3.6.5' media='all' />
<link rel='stylesheet' id='ekit-widget-styles-css' href='https://www.cliniquejbellakbir.ma/wp-content/plugins/elementskit-lite/widgets/init/assets/css/widget-styles.css?ver=3.7.3' media='all' />
<link rel='stylesheet' id='ekit-widget-styles-pro-css' href='https://www.cliniquejbellakbir.ma/wp-content/plugins/elementskit/widgets/init/assets/css/widget-styles-pro.css?ver=3.6.5' media='all' />
<link rel='stylesheet' id='ekit-responsive-css' href='https://www.cliniquejbellakbir.ma/wp-content/plugins/elementskit-lite/widgets/init/assets/css/responsive.css?ver=3.7.3' media='all' />
<link rel='stylesheet' id='keydesign-frontend-css' href='https://www.cliniquejbellakbir.ma/wp-content/plugins/keydesign-framework/assets/css/keydesign-framework.css?ver=1.6.3' media='all' />
<style id='keydesign-frontend-inline-css'>
body {}.page-header {--page-title-width: 600px;}.page .page-header { background-image: url( 'https://www.cliniquejbellakbir.ma/wp-content/uploads/2025/11/gyneco-tanger.jpg' ); background-size: cover; }
/*# sourceURL=keydesign-frontend-inline-css */
</style>
<link rel='stylesheet' id='keydesign-woocommerce-css' href='https://www.cliniquejbellakbir.ma/wp-content/plugins/keydesign-framework/assets/css/keydesign-woocommerce.css?ver=1.6.3' media='all' />
<link rel='stylesheet' id='moove_gdpr_frontend-css' href='https://www.cliniquejbellakbir.ma/wp-content/plugins/gdpr-cookie-compliance/dist/styles/gdpr-main.css?ver=5.0.9' media='all' />
<style id='moove_gdpr_frontend-inline-css'>
#moove_gdpr_cookie_modal,#moove_gdpr_cookie_info_bar,.gdpr_cookie_settings_shortcode_content{font-family:&#039;Nunito&#039;,sans-serif}#moove_gdpr_save_popup_settings_button{background-color:#373737;color:#fff}#moove_gdpr_save_popup_settings_button:hover{background-color:#000}#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content a.mgbutton,#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content button.mgbutton{background-color:#33a9b1}#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-footer-content .moove-gdpr-button-holder a.mgbutton,#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-footer-content .moove-gdpr-button-holder button.mgbutton,.gdpr_cookie_settings_shortcode_content .gdpr-shr-button.button-green{background-color:#33a9b1;border-color:#33a9b1}#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-footer-content .moove-gdpr-button-holder a.mgbutton:hover,#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-footer-content .moove-gdpr-button-holder button.mgbutton:hover,.gdpr_cookie_settings_shortcode_content .gdpr-shr-button.button-green:hover{background-color:#fff;color:#33a9b1}#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i,#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close span.gdpr-icon{background-color:#33a9b1;border:1px solid #33a9b1}#moove_gdpr_cookie_info_bar span.moove-gdpr-infobar-allow-all.focus-g,#moove_gdpr_cookie_info_bar span.moove-gdpr-infobar-allow-all:focus,#moove_gdpr_cookie_info_bar button.moove-gdpr-infobar-allow-all.focus-g,#moove_gdpr_cookie_info_bar button.moove-gdpr-infobar-allow-all:focus,#moove_gdpr_cookie_info_bar span.moove-gdpr-infobar-reject-btn.focus-g,#moove_gdpr_cookie_info_bar span.moove-gdpr-infobar-reject-btn:focus,#moove_gdpr_cookie_info_bar button.moove-gdpr-infobar-reject-btn.focus-g,#moove_gdpr_cookie_info_bar button.moove-gdpr-infobar-reject-btn:focus,#moove_gdpr_cookie_info_bar span.change-settings-button.focus-g,#moove_gdpr_cookie_info_bar span.change-settings-button:focus,#moove_gdpr_cookie_info_bar button.change-settings-button.focus-g,#moove_gdpr_cookie_info_bar button.change-settings-button:focus{-webkit-box-shadow:0 0 1px 3px #33a9b1;-moz-box-shadow:0 0 1px 3px #33a9b1;box-shadow:0 0 1px 3px #33a9b1}#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i:hover,#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close span.gdpr-icon:hover,#moove_gdpr_cookie_info_bar span[data-href]>u.change-settings-button{color:#33a9b1}#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li.menu-item-selected a span.gdpr-icon,#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li.menu-item-selected button span.gdpr-icon{color:inherit}#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li a span.gdpr-icon,#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li button span.gdpr-icon{color:inherit}#moove_gdpr_cookie_modal .gdpr-acc-link{line-height:0;font-size:0;color:transparent;position:absolute}#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close:hover i,#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li a,#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li button,#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li button i,#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li a i,#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main .moove-gdpr-tab-main-content a:hover,#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content a.mgbutton:hover,#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content button.mgbutton:hover,#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content a:hover,#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content button:hover,#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content span.change-settings-button:hover,#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content button.change-settings-button:hover,#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content u.change-settings-button:hover,#moove_gdpr_cookie_info_bar span[data-href]>u.change-settings-button,#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content a.mgbutton.focus-g,#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content button.mgbutton.focus-g,#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content a.focus-g,#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content button.focus-g,#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content a.mgbutton:focus,#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content button.mgbutton:focus,#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content a:focus,#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content button:focus,#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content span.change-settings-button.focus-g,span.change-settings-button:focus,button.change-settings-button.focus-g,button.change-settings-button:focus,#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content u.change-settings-button.focus-g,#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content u.change-settings-button:focus{color:#33a9b1}#moove_gdpr_cookie_modal .moove-gdpr-branding.focus-g span,#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main a.focus-g,#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main .gdpr-cd-details-toggle.focus-g{color:#33a9b1}#moove_gdpr_cookie_modal.gdpr_lightbox-hide{display:none}
/*# sourceURL=moove_gdpr_frontend-inline-css */
</style>
<link rel='stylesheet' id='call-now-button-modern-style-css' href='https://www.cliniquejbellakbir.ma/wp-content/plugins/call-now-button/resources/style/modern.css?ver=1.5.5' media='all' />
<link rel='stylesheet' id='elementor-icons-shared-0-css' href='https://www.cliniquejbellakbir.ma/wp-content/plugins/elementor/assets/lib/font-awesome/css/fontawesome.min.css?ver=5.15.3' media='all' />
<link rel='stylesheet' id='elementor-icons-fa-brands-css' href='https://www.cliniquejbellakbir.ma/wp-content/plugins/elementor/assets/lib/font-awesome/css/brands.min.css?ver=5.15.3' media='all' />
<link rel='stylesheet' id='elementor-icons-ekiticons-css' href='https://www.cliniquejbellakbir.ma/wp-content/plugins/elementskit-lite/modules/elementskit-icon-pack/assets/css/ekiticons.css?ver=3.7.3' media='all' />
<link rel='stylesheet' id='elementor-icons-fa-solid-css' href='https://www.cliniquejbellakbir.ma/wp-content/plugins/elementor/assets/lib/font-awesome/css/solid.min.css?ver=5.15.3' media='all' />
<script src="https://www.cliniquejbellakbir.ma/wp-includes/js/jquery/jquery.min.js?ver=3.7.1" id="jquery-core-js" type="ae1e6e319ae354d6a9fd724c-text/javascript"></script>
<script src="https://www.cliniquejbellakbir.ma/wp-includes/js/jquery/jquery-migrate.min.js?ver=3.4.1" id="jquery-migrate-js" type="ae1e6e319ae354d6a9fd724c-text/javascript"></script>
<script src="https://www.cliniquejbellakbir.ma/wp-content/plugins/keydesign-framework/assets/js/back-to-top.js?ver=1.6.3" id="keydesign-go-top-js" type="ae1e6e319ae354d6a9fd724c-text/javascript"></script>
<script src="https://www.cliniquejbellakbir.ma/wp-content/plugins/elementskit/modules/parallax/assets/js/jarallax.js?ver=3.6.5" id="jarallax-js" type="ae1e6e319ae354d6a9fd724c-text/javascript"></script>
<link rel="https://api.w.org/" href="https://www.cliniquejbellakbir.ma/wp-json/" /><link rel="alternate" title="JSON" type="application/json" href="https://www.cliniquejbellakbir.ma/wp-json/wp/v2/pages/21409" /><link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://www.cliniquejbellakbir.ma/xmlrpc.php?rsd" />
<meta name="generator" content="WordPress 6.9.1" />
<link rel='shortlink' href='https://www.cliniquejbellakbir.ma/' />
<meta name="ti-site-data" content="eyJyIjoiMTowITc6MCEzMDowIiwibyI6Imh0dHBzOlwvXC93d3cuY2xpbmlxdWVqYmVsbGFrYmlyLm1hXC93cC1hZG1pblwvYWRtaW4tYWpheC5waHA/YWN0aW9uPXRpX29ubGluZV91c2Vyc19nb29nbGUmYW1wO3A9JTJGJmFtcDtfd3Bub25jZT05ZDVmZWI0MDcyIn0=" />	<script type="ae1e6e319ae354d6a9fd724c-text/javascript">
		var stm_wpcfto_ajaxurl = 'https://www.cliniquejbellakbir.ma/wp-admin/admin-ajax.php';
	</script>

	<style>
		.vue_is_disabled {
			display: none;
		}
	</style>
		<script type="ae1e6e319ae354d6a9fd724c-text/javascript">
		var stm_wpcfto_nonces = {"wpcfto_save_settings":"0502ccaf35","get_image_url":"1a68af3a47","wpcfto_upload_file":"eaefbabf5e","wpcfto_search_posts":"6916183766"};
	</script>
	<meta name="generator" content="Elementor 3.32.4; features: additional_custom_breakpoints; settings: css_print_method-external, google_font-enabled, font_display-swap">

			<script type="ae1e6e319ae354d6a9fd724c-text/javascript">
				var elementskit_module_parallax_url = "https://www.cliniquejbellakbir.ma/wp-content/plugins/elementskit/modules/parallax/"
			</script>
					<style>
				.e-con.e-parent:nth-of-type(n+4):not(.e-lazyloaded):not(.e-no-lazyload),
				.e-con.e-parent:nth-of-type(n+4):not(.e-lazyloaded):not(.e-no-lazyload) * {
					background-image: none !important;
				}
				@media screen and (max-height: 1024px) {
					.e-con.e-parent:nth-of-type(n+3):not(.e-lazyloaded):not(.e-no-lazyload),
					.e-con.e-parent:nth-of-type(n+3):not(.e-lazyloaded):not(.e-no-lazyload) * {
						background-image: none !important;
					}
				}
				@media screen and (max-height: 640px) {
					.e-con.e-parent:nth-of-type(n+2):not(.e-lazyloaded):not(.e-no-lazyload),
					.e-con.e-parent:nth-of-type(n+2):not(.e-lazyloaded):not(.e-no-lazyload) * {
						background-image: none !important;
					}
				}
			</style>
			<link rel="icon" href="https://www.cliniquejbellakbir.ma/wp-content/uploads/2025/10/favi.jpg" sizes="32x32" />
<link rel="icon" href="https://www.cliniquejbellakbir.ma/wp-content/uploads/2025/10/favi.jpg" sizes="192x192" />
<link rel="apple-touch-icon" href="https://www.cliniquejbellakbir.ma/wp-content/uploads/2025/10/favi.jpg" />
<meta name="msapplication-TileImage" content="https://www.cliniquejbellakbir.ma/wp-content/uploads/2025/10/favi.jpg" />
		<style id="wp-custom-css">
			#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme {
    background-color: #0f1a1c;
    border-top: 1px solid #fff;
}
.menu-google > a::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('https://www.hostino.es/google-svg.svg') no-repeat center;
  background-size: contain;
  margin-right: 6px;
  vertical-align: middle;
}
.entry-content figcaption {
    background: #ffffff;
}/* Form Container *//* Form Container */
.wpcf7-form {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* 4 columns layout */
    gap: 18px;
    align-items: center;
}
.wpcf7-form p { 
	margin:0px;
}

/* Input Fields */
.wpcf7-form .wpcf7-form-control {
    width: 100%;
    background: transparent;
    border: 1px solid #26445f; /* Input field border */
    border-radius: 6px;
    padding: 14px 12px;
    font-size: 13px;
    color: #fff; /* Text inside input fields */
    outline: none;
}

/* Placeholder Text */
.wpcf7-form input::placeholder {
    color: #ccc; /* Light grey placeholder text */
    font-size: 14px;
    font-weight: 400;
}

/* Input Fields - Focus State */
.wpcf7-form input:focus {
    border-color: #00CC61 !important; /* Change border color on focus */
    box-shadow: 0 0 5px rgba(0, 204, 97, 0.4); /* Light green focus effect */
}

/* Text Input */
.wpcf7-form .wpcf7-text {
    background-color: transparent;
}

/* Email Input */
.wpcf7-form .wpcf7-email {
    background-color: transparent;
}

/* Tel Input */
.wpcf7-form .wpcf7-tel {
    background-color: transparent;
}

/* Checkbox */
.wpcf7-form .wpcf7-checkbox {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 10px;
    padding: 0;
    border: none; /* Remove the border around the checkbox container */
}
.wpcf7-form .wpcf7-checkbox span {
	font-size:10.7px;
}
.wpcf7-response-output {
    color: #ffffff;
    font-weight: 500;
    font-size: 13px;
}

/* Checkbox Input - Adjust Size and Remove Extra Space */
.wpcf7-form .wpcf7-checkbox input {
    width: 16px;
    height: 16px;
    accent-color: #F59E0B; /* Accent color for checkbox */
    margin: 0; /* Remove any default margin */
		vertical-align:middle;

}

/* Checkbox Label - Fix for text visibility */
.wpcf7-form .wpcf7-checkbox label {
    font-size: 13px;
    color: #fff; /* Text color for checkbox */
    font-weight: 300;
    line-height: 1.4;
    display: inline-block; /* Ensure checkbox label text is visible */
    margin-left: 5px; /* Space between checkbox and text */
}

/* Submit Button */
.wpcf7-form .wpcf7-submit {
    width: 100%;
    background: #00CC61;
    color: #fff;
    font-weight: 600 !important;
    padding: 14px 20px !important;
    border: none;
    font-size: 15px !important;
    cursor: pointer;
    transition: 0.25s;
    border-radius: 6px;
    text-transform: uppercase;
}

/* Submit Button Hover */
.wpcf7-form .wpcf7-submit:hover {
    background: #ffffff; /* White background on hover */
    color: #000; /* Black text color on hover */
}

/* Spinner (When Form is Submitting) */
.wpcf7-form .wpcf7-spinner {
    display: none; /* Hide spinner by default */
}




/* Form Error Messages */
.wpcf7-form-control-wrap {
    position: relative;
}
.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output, .wpcf7 form.payment-required .wpcf7-response-output {
    border-color: #09cc61;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
}
.wpcf7-not-valid-tip {
    color: #dc3232;
    font-size: 13px;
    font-weight: normal;
    display: block;
}

@media screen and (max-width: 767px) {
.wpcf7-form {
  grid-template-columns: none;
}
}
		</style>
		<style>
/*! elementor - v3.32.0 - 05-10-2025 */
:root{--direction-multiplier:1}.elementor *,.elementor :after,.elementor :before{box-sizing:border-box}.elementor a{box-shadow:none;text-decoration:none}.elementor hr{background-color:transparent;margin:0}.elementor img{border:none;border-radius:0;box-shadow:none;height:auto;max-width:100%}.elementor object{border:none;line-height:1;margin:0;max-width:100%;width:100%}.elementor .elementor-background-overlay{inset:0;position:absolute}.elementor-element{--flex-direction:initial;--flex-wrap:initial;--justify-content:initial;--align-items:initial;--align-content:initial;--gap:initial;--flex-basis:initial;--flex-grow:initial;--flex-shrink:initial;--order:initial;--align-self:initial;align-self:var(--align-self);flex-basis:var(--flex-basis);flex-grow:var(--flex-grow);flex-shrink:var(--flex-shrink);order:var(--order)}.elementor-element:where(.e-con-full,.elementor-widget){align-content:var(--align-content);align-items:var(--align-items);flex-direction:var(--flex-direction);flex-wrap:var(--flex-wrap);gap:var(--row-gap) var(--column-gap);justify-content:var(--justify-content)}.elementor-invisible{visibility:hidden}.elementor-align-center{text-align:center}.elementor-align-right{text-align:right}.elementor-align-left{text-align:left}@media (max-width:1024px){.elementor-tablet-align-right{text-align:right}}@media (max-width:767px){.elementor-mobile-align-left{text-align:left}}:root{--page-title-display:block}@keyframes eicon-spin{0%{transform:rotate(0deg)}to{transform:rotate(359deg)}}.elementor-section{position:relative}.elementor-section .elementor-container{display:flex;margin-left:auto;margin-right:auto;position:relative}@media (max-width:1024px){.elementor-section .elementor-container{flex-wrap:wrap}}.elementor-section.elementor-section-boxed>.elementor-container{max-width:1140px}.elementor-widget-wrap{align-content:flex-start;flex-wrap:wrap;position:relative;width:100%}.elementor:not(.elementor-bc-flex-widget) .elementor-widget-wrap{display:flex}.elementor-widget-wrap>.elementor-element{width:100%}.elementor-widget{position:relative}.elementor-widget:not(:last-child){margin-bottom:var(--kit-widget-spacing,20px)}.elementor-column{display:flex;min-height:1px;position:relative}.elementor-column-gap-default>.elementor-column>.elementor-element-populated{padding:10px}@media (min-width:768px){.elementor-column.elementor-col-50{width:50%}.elementor-column.elementor-col-100{width:100%}}@media (max-width:767px){.elementor-column{width:100%}}@media (prefers-reduced-motion:no-preference){html{scroll-behavior:smooth}}.e-con{--border-radius:0;--border-top-width:0px;--border-right-width:0px;--border-bottom-width:0px;--border-left-width:0px;--border-style:initial;--border-color:initial;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--content-width:min(100%,var(--container-max-width,1140px));--width:100%;--min-height:initial;--height:auto;--text-align:initial;--margin-top:0px;--margin-right:0px;--margin-bottom:0px;--margin-left:0px;--padding-top:var(--container-default-padding-top,10px);--padding-right:var(--container-default-padding-right,10px);--padding-bottom:var(--container-default-padding-bottom,10px);--padding-left:var(--container-default-padding-left,10px);--position:relative;--z-index:revert;--overflow:visible;--gap:var(--widgets-spacing,20px);--row-gap:var(--widgets-spacing-row,20px);--column-gap:var(--widgets-spacing-column,20px);--overlay-mix-blend-mode:initial;--overlay-opacity:1;--overlay-transition:0.3s;--e-con-grid-template-columns:repeat(3,1fr);--e-con-grid-template-rows:repeat(2,1fr);border-radius:var(--border-radius);height:var(--height);min-height:var(--min-height);min-width:0;overflow:var(--overflow);position:var(--position);width:var(--width);z-index:var(--z-index);--flex-wrap-mobile:wrap;margin-block-end:var(--margin-block-end);margin-block-start:var(--margin-block-start);margin-inline-end:var(--margin-inline-end);margin-inline-start:var(--margin-inline-start);padding-inline-end:var(--padding-inline-end);padding-inline-start:var(--padding-inline-start)}.e-con{--margin-block-start:var(--margin-top);--margin-block-end:var(--margin-bottom);--margin-inline-start:var(--margin-left);--margin-inline-end:var(--margin-right);--padding-inline-start:var(--padding-left);--padding-inline-end:var(--padding-right);--padding-block-start:var(--padding-top);--padding-block-end:var(--padding-bottom);--border-block-start-width:var(--border-top-width);--border-block-end-width:var(--border-bottom-width);--border-inline-start-width:var(--border-left-width);--border-inline-end-width:var(--border-right-width)}.e-con.e-flex{--flex-direction:column;--flex-basis:auto;--flex-grow:0;--flex-shrink:1;flex:var(--flex-grow) var(--flex-shrink) var(--flex-basis)}.e-con-full,.e-con>.e-con-inner{padding-block-end:var(--padding-block-end);padding-block-start:var(--padding-block-start);text-align:var(--text-align)}.e-con-full.e-flex,.e-con.e-flex>.e-con-inner{flex-direction:var(--flex-direction)}.e-con,.e-con>.e-con-inner{display:var(--display)}.e-con-boxed.e-flex{align-content:normal;align-items:normal;flex-direction:column;flex-wrap:nowrap;justify-content:normal}.e-con-boxed{gap:initial;text-align:initial}.e-con.e-flex>.e-con-inner{align-content:var(--align-content);align-items:var(--align-items);align-self:auto;flex-basis:auto;flex-grow:1;flex-shrink:1;flex-wrap:var(--flex-wrap);justify-content:var(--justify-content)}.e-con>.e-con-inner{gap:var(--row-gap) var(--column-gap);height:100%;margin:0 auto;max-width:var(--content-width);padding-inline-end:0;padding-inline-start:0;width:100%}:is([data-elementor-id])>.e-con{--margin-left:auto;--margin-right:auto;max-width:min(100%,var(--width))}.e-con .elementor-widget.elementor-widget{margin-block-end:0}.e-con:before{border-block-end-width:var(--border-block-end-width);border-block-start-width:var(--border-block-start-width);border-color:var(--border-color);border-inline-end-width:var(--border-inline-end-width);border-inline-start-width:var(--border-inline-start-width);border-radius:var(--border-radius);border-style:var(--border-style);content:var(--background-overlay);display:block;height:max(100% + var(--border-top-width) + var(--border-bottom-width),100%);left:calc(0px - var(--border-left-width));mix-blend-mode:var(--overlay-mix-blend-mode);opacity:var(--overlay-opacity);position:absolute;top:calc(0px - var(--border-top-width));transition:var(--overlay-transition,.3s);width:max(100% + var(--border-left-width) + var(--border-right-width),100%)}.e-con:before{transition:background var(--overlay-transition,.3s),border-radius var(--border-transition,.3s),opacity var(--overlay-transition,.3s)}.e-con .elementor-widget{min-width:0}.e-con>.e-con-inner>.elementor-widget>.elementor-widget-container,.e-con>.elementor-widget>.elementor-widget-container{height:100%}.e-con.e-con>.e-con-inner>.elementor-widget,.elementor.elementor .e-con>.elementor-widget{max-width:100%}.e-con .elementor-widget:not(:last-child){--kit-widget-spacing:0px}@media (max-width:767px){.e-con.e-flex{--width:100%;--flex-wrap:var(--flex-wrap-mobile)}}.elementor-heading-title{line-height:1;margin:0;padding:0}@media (max-width:767px){.elementor .elementor-hidden-mobile{display:none}}@media (min-width:768px) and (max-width:1024px){.elementor .elementor-hidden-tablet{display:none}}
.elementor-96 .elementor-element.elementor-element-a1d0c7e{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;overflow:visible;}.elementor-96 .elementor-element.elementor-element-a1d0c7e:not(.elementor-motion-effects-element-type-background){background-color:#33A9B1;}.elementor-widget-heading .elementor-heading-title{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );color:var( --e-global-color-primary );}.elementor-96 .elementor-element.elementor-element-ff00b5a{text-align:center;}.elementor-96 .elementor-element.elementor-element-ff00b5a .elementor-heading-title{font-family:"Poppins", Sans-serif;font-size:16px;font-weight:400;color:#FFFFFF;}.elementor-96 .elementor-element.elementor-element-4e456b3b{--display:flex;border-style:none;--border-style:none;--border-radius:0% 0% 0% 0%;--padding-top:20px;--padding-bottom:20px;--padding-left:0px;--padding-right:0px;overflow:visible;}.elementor-96 .elementor-element.elementor-element-4e456b3b:not(.elementor-motion-effects-element-type-background){background-color:#FFFFFF;}.elementor-96 .elementor-element.elementor-element-68e0879c{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:space-between;--align-items:center;--gap:30px 30px;--row-gap:30px;--column-gap:30px;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;overflow:visible;}.elementor-96 .elementor-element.elementor-element-7974dc91{--display:flex;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;overflow:visible;}.elementor-96 .elementor-element.elementor-element-7974dc91.e-con{--order:-99999 /* order start hack */;--flex-grow:0;--flex-shrink:0;}.elementor-96 .elementor-element.elementor-element-468a93b4 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-96 .elementor-element.elementor-element-468a93b4 img{width:155px;}.elementor-96 .elementor-element.elementor-element-df1de6{--display:flex;--align-items:flex-end;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--margin-top:0;--margin-bottom:0;--margin-left:0;--margin-right:auto;--padding-top:0px;--padding-bottom:0px;--padding-left:50px;--padding-right:10px;overflow:visible;}.elementor-96 .elementor-element.elementor-element-47323288.elementor-element{--align-self:center;}.elementor-96 .elementor-element.elementor-element-47323288 > .elementor-widget-container{border-style:none;}.elementor-96 .elementor-element.elementor-element-47323288 .elementskit-menu-container{height:67px;border-radius:0px 0px 0px 0px;}.elementor-96 .elementor-element.elementor-element-47323288 .elementskit-navbar-nav > li > a{font-size:17px;border-style:none;padding:0px 0px 0px 0px;}.elementor-96 .elementor-element.elementor-element-47323288 .elementskit-navbar-nav > li.current-menu-item > a{color:#33A9B1;}.elementor-96 .elementor-element.elementor-element-47323288 .elementskit-navbar-nav > li{margin:0px 10px 0px 0px;}.elementor-96 .elementor-element.elementor-element-47323288 .elementskit-navbar-nav .elementskit-submenu-panel > li > a{padding:0px 0px 0px 0px;border-style:none;}.elementor-96 .elementor-element.elementor-element-47323288 .elementskit-navbar-nav .elementskit-submenu-panel > li:last-child > a{border-style:none;}.elementor-96 .elementor-element.elementor-element-47323288 .elementskit-navbar-nav .elementskit-submenu-panel > li:first-child > a{border-style:none;}.elementor-96 .elementor-element.elementor-element-47323288 .elementskit-navbar-nav .elementskit-submenu-panel{border-radius:0px 0px 0px 0px;}.elementor-96 .elementor-element.elementor-element-47323288 .elementskit-menu-hamburger{border-style:none;}.elementor-96 .elementor-element.elementor-element-47323288 .elementskit-menu-close{border-style:none;}.elementor-96 .elementor-element.elementor-element-767b7b43{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--align-items:center;--gap:10px 10px;--row-gap:10px;--column-gap:10px;--flex-wrap:nowrap;overflow:visible;}.elementor-96 .elementor-element.elementor-element-8cac915 .ekit-btn-wraper .elementskit-btn{justify-content:center;}.elementor-96 .elementor-element.elementor-element-8cac915 .elementskit-btn{background-color:#33A9B1;font-family:"Poppins", Sans-serif;font-weight:600;border-style:none;}.elementor-96 .elementor-element.elementor-element-8cac915 .elementskit-btn:hover{background-color:var( --e-global-color-secondary );color:#ffffff;fill:#ffffff;}.elementor-96 .elementor-element.elementor-element-8cac915 .elementskit-btn > :is(i, svg){font-size:14px;}.elementor-96 .elementor-element.elementor-element-8cac915 .elementskit-btn > i, .elementor-96 .elementor-element.elementor-element-8cac915 .elementskit-btn > svg{margin-right:5px;}@media(max-width:1024px){.elementor-96 .elementor-element.elementor-element-4e456b3b{--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:20px;--padding-bottom:20px;--padding-left:25px;--padding-right:15px;}.elementor-96 .elementor-element.elementor-element-68e0879c{--min-height:70px;}.elementor-96 .elementor-element.elementor-element-df1de6{--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;}.elementor-96 .elementor-element.elementor-element-df1de6.e-con{--order:99999 /* order end hack */;}.elementor-96 .elementor-element.elementor-element-47323288 .elementskit-navbar-nav > li > a{padding:12px 0px 12px 0px;}.elementor-96 .elementor-element.elementor-element-47323288 .elementskit-navbar-nav .elementskit-submenu-panel > li > a{padding:12px 0px 12px 0px;}.elementor-96 .elementor-element.elementor-element-47323288 .elementskit-menu-hamburger{border-radius:0%;}.elementor-96 .elementor-element.elementor-element-767b7b43{--margin-top:0;--margin-bottom:0;--margin-left:auto;--margin-right:0;}}@media(max-width:767px){.elementor-96 .elementor-element.elementor-element-7974dc91{--width:auto;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-96 .elementor-element.elementor-element-468a93b4 img{width:157px;}.elementor-96 .elementor-element.elementor-element-df1de6{--width:auto;--padding-top:0px;--padding-bottom:0px;--padding-left:030px;--padding-right:10px;}.elementor-96 .elementor-element.elementor-element-767b7b43{--width:auto;}}@media(min-width:768px){.elementor-96 .elementor-element.elementor-element-7974dc91{--width:auto;}.elementor-96 .elementor-element.elementor-element-df1de6{--width:auto;}.elementor-96 .elementor-element.elementor-element-767b7b43{--width:auto;}}
.elementor-823 .elementor-element.elementor-element-573213b8{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--align-items:stretch;--gap:0px 0px;--row-gap:0px;--column-gap:0px;overflow:visible;}.elementor-823 .elementor-element.elementor-element-573213b8:not(.elementor-motion-effects-element-type-background){background-color:#FFFFFF;}.elementor-823 .elementor-element.elementor-element-d3fb197{--display:flex;overflow:visible;}.elementor-823 .elementor-element.elementor-element-572f0beb{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--align-items:stretch;--gap:10px 10px;--row-gap:10px;--column-gap:10px;--padding-top:60px;--padding-bottom:20px;--padding-left:0px;--padding-right:0px;overflow:visible;}.elementor-823 .elementor-element.elementor-element-685f65b8{--display:flex;overflow:visible;}.elementor-823 .elementor-element.elementor-element-5a8ed320 img{pointer-events:all;width:167px;border-radius:0px 0px 0px 0px;}.elementor-823 .elementor-element.elementor-element-5a8ed320{text-align:left;}.elementor-823 .elementor-element.elementor-element-40a1a0d4 .elementor-repeater-item-172011e > a :is(i, svg){color:#33A9B1;fill:#33A9B1;}.elementor-823 .elementor-element.elementor-element-40a1a0d4 .elementor-repeater-item-172011e > a{background-color:var( --e-global-color-light );}.elementor-823 .elementor-element.elementor-element-40a1a0d4 .elementor-repeater-item-172011e > a:hover{color:#FFFFFF;background-color:#33A9B1;}.elementor-823 .elementor-element.elementor-element-40a1a0d4 .elementor-repeater-item-172011e > a:hover svg path{stroke:#FFFFFF;fill:#FFFFFF;}.elementor-823 .elementor-element.elementor-element-40a1a0d4 .elementor-repeater-item-686a61a > a :is(i, svg){color:#33A9B1;fill:#33A9B1;}.elementor-823 .elementor-element.elementor-element-40a1a0d4 .elementor-repeater-item-686a61a > a{background-color:var( --e-global-color-light );}.elementor-823 .elementor-element.elementor-element-40a1a0d4 .elementor-repeater-item-686a61a > a:hover{color:#FFFFFF;background-color:#33A9B1;}.elementor-823 .elementor-element.elementor-element-40a1a0d4 .elementor-repeater-item-686a61a > a:hover svg path{stroke:#FFFFFF;fill:#FFFFFF;}.elementor-823 .elementor-element.elementor-element-40a1a0d4 > .elementor-widget-container{margin:10px 0px 0px 0px;}.elementor-823 .elementor-element.elementor-element-40a1a0d4 .ekit_social_media > li > a{text-align:center;text-decoration:none;padding:0px 0px 0px 0px;width:50px;height:50px;line-height:49px;}.elementor-823 .elementor-element.elementor-element-40a1a0d4 .ekit_social_media > li{display:inline-block;margin:0px 6px 0px 0px;}.elementor-823 .elementor-element.elementor-element-298e3dd8{--display:flex;overflow:visible;}.elementor-widget-heading .elementor-heading-title{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );color:var( --e-global-color-primary );}.elementor-823 .elementor-element.elementor-element-57a698d .elementor-heading-title{font-family:"Poppins", Sans-serif;font-weight:700;color:#022545;}.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after{border-color:var( --e-global-color-text );}.elementor-widget-icon-list .elementor-icon-list-item > .elementor-icon-list-text, .elementor-widget-icon-list .elementor-icon-list-item > a{font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );}.elementor-widget-icon-list .elementor-icon-list-text{color:var( --e-global-color-secondary );}.elementor-823 .elementor-element.elementor-element-7fb99314 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-block-end:calc(11px/2);}.elementor-823 .elementor-element.elementor-element-7fb99314 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-block-start:calc(11px/2);}.elementor-823 .elementor-element.elementor-element-7fb99314 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-inline:calc(11px/2);}.elementor-823 .elementor-element.elementor-element-7fb99314 .elementor-icon-list-items.elementor-inline-items{margin-inline:calc(-11px/2);}.elementor-823 .elementor-element.elementor-element-7fb99314 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{inset-inline-end:calc(-11px/2);}.elementor-823 .elementor-element.elementor-element-7fb99314{--e-icon-list-icon-size:14px;--icon-vertical-offset:0px;}.elementor-823 .elementor-element.elementor-element-7fb99314 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-823 .elementor-element.elementor-element-7fb99314 .elementor-icon-list-item > a{font-family:"Poppins", Sans-serif;font-weight:400;}.elementor-823 .elementor-element.elementor-element-7fb99314 .elementor-icon-list-text{color:var( --e-global-color-text );}.elementor-823 .elementor-element.elementor-element-7fb99314 .elementor-icon-list-item:hover .elementor-icon-list-text{color:var( --e-global-color-primary );}.underline-link-effect .elementor-823 .elementor-element.elementor-element-7fb99314 .elementor-icon-list-item:hover .elementor-icon-list-text:after{background-color:var( --e-global-color-primary );}.elementor-823 .elementor-element.elementor-element-3b7ea538{--display:flex;overflow:visible;}.elementor-823 .elementor-element.elementor-element-433f6e2 .elementskit-section-title-wraper .elementskit-section-title > span{background-color:transparent;background-image:linear-gradient(180deg, #00000000 92%, #33A9B1 50%);border-radius:0px 0px 0px 0px;}.elementor-823 .elementor-element.elementor-element-433f6e2 .ekit-heading__subtitle-has-border{background-color:#F8F8F8;padding:5px 10px 5px 10px;border-style:none;border-radius:4px 4px 4px 4px;}.elementor-823 .elementor-element.elementor-element-433f6e2 .elementskit-section-title-wraper .elementskit-section-title{font-size:34px;font-weight:600;}.elementor-823 .elementor-element.elementor-element-433f6e2 .elementskit-section-title-wraper .elementskit-section-subtitle{color:#022545;font-family:"Manrope", Sans-serif;font-size:13px;font-weight:600;text-transform:uppercase;letter-spacing:1.2px;}.elementor-823 .elementor-element.elementor-element-c3817e8{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--align-items:stretch;--gap:10px 10px;--row-gap:10px;--column-gap:10px;border-style:solid;--border-style:solid;border-width:1px 0px 0px 0px;--border-top-width:1px;--border-right-width:0px;--border-bottom-width:0px;--border-left-width:0px;border-color:#E7E7E7;--border-color:#E7E7E7;--padding-top:20px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;overflow:visible;}.elementor-823 .elementor-element.elementor-element-dd8f604{--display:flex;--justify-content:center;overflow:visible;}.elementor-widget-text-editor{font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );color:var( --e-global-color-text );}.elementor-823 .elementor-element.elementor-element-ae27b76{font-family:"Poppins", Sans-serif;font-size:16px;font-weight:400;color:#022545;}.elementor-823 .elementor-element.elementor-element-ef61413{--display:flex;overflow:visible;}.elementor-823 .elementor-element.elementor-element-a18a87c > .elementor-widget-container{padding:10px 10px 10px 10px;}.elementor-823 .elementor-element.elementor-element-a18a87c .elementor-icon-list-item:not(:last-child):after{content:"";border-color:#ddd;}.elementor-823 .elementor-element.elementor-element-a18a87c .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child):after{border-block-start-style:solid;border-block-start-width:1px;}.elementor-823 .elementor-element.elementor-element-a18a87c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:not(:last-child):after{border-inline-start-style:solid;}.elementor-823 .elementor-element.elementor-element-a18a87c .elementor-inline-items .elementor-icon-list-item:not(:last-child):after{border-inline-start-width:1px;}.elementor-823 .elementor-element.elementor-element-a18a87c .elementor-icon-list-item > .elementor-icon-list-text, .elementor-823 .elementor-element.elementor-element-a18a87c .elementor-icon-list-item > a{font-family:"Poppins", Sans-serif;font-size:16px;font-weight:400;}.elementor-823 .elementor-element.elementor-element-a18a87c .elementor-icon-list-text{color:var( --e-global-color-text );}.elementor-823 .elementor-element.elementor-element-a18a87c .elementor-icon-list-item:hover .elementor-icon-list-text{color:var( --e-global-color-primary );}.underline-link-effect .elementor-823 .elementor-element.elementor-element-a18a87c .elementor-icon-list-item:hover .elementor-icon-list-text:after{background-color:var( --e-global-color-primary );}@media(max-width:1024px){.elementor-823 .elementor-element.elementor-element-573213b8{--padding-top:10px;--padding-bottom:10px;--padding-left:0px;--padding-right:0px;}.elementor-823 .elementor-element.elementor-element-298e3dd8{--gap:20px 20px;--row-gap:20px;--column-gap:20px;}.elementor-823 .elementor-element.elementor-element-3b7ea538{--gap:20px 20px;--row-gap:20px;--column-gap:20px;}.elementor-823 .elementor-element.elementor-element-a18a87c .elementor-icon-list-item > .elementor-icon-list-text, .elementor-823 .elementor-element.elementor-element-a18a87c .elementor-icon-list-item > a{font-size:15px;}}@media(max-width:767px){.elementor-823 .elementor-element.elementor-element-572f0beb{--padding-top:30px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-823 .elementor-element.elementor-element-5a8ed320 img{width:239px;}.elementor-823 .elementor-element.elementor-element-298e3dd8{--width:100%;}.elementor-823 .elementor-element.elementor-element-57a698d .elementor-heading-title{font-size:17px;letter-spacing:0.4px;}.elementor-823 .elementor-element.elementor-element-7fb99314 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-block-end:calc(9px/2);}.elementor-823 .elementor-element.elementor-element-7fb99314 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-block-start:calc(9px/2);}.elementor-823 .elementor-element.elementor-element-7fb99314 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-inline:calc(9px/2);}.elementor-823 .elementor-element.elementor-element-7fb99314 .elementor-icon-list-items.elementor-inline-items{margin-inline:calc(-9px/2);}.elementor-823 .elementor-element.elementor-element-7fb99314 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{inset-inline-end:calc(-9px/2);}.elementor-823 .elementor-element.elementor-element-7fb99314 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-823 .elementor-element.elementor-element-7fb99314 .elementor-icon-list-item > a{font-size:15px;letter-spacing:-0.2px;}.elementor-823 .elementor-element.elementor-element-3b7ea538{--width:100%;}.elementor-823 .elementor-element.elementor-element-433f6e2 .elementskit-section-title-wraper .elementskit-section-title{font-size:34px;}.elementor-823 .elementor-element.elementor-element-c3817e8{--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:flex-start;--align-items:flex-start;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--padding-top:30px;--padding-bottom:10px;--padding-left:0px;--padding-right:0px;}.elementor-823 .elementor-element.elementor-element-ae27b76{font-size:4px;}.elementor-823 .elementor-element.elementor-element-a18a87c > .elementor-widget-container{padding:10px 0px 10px 0px;}.elementor-823 .elementor-element.elementor-element-a18a87c .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-block-end:calc(28px/2);}.elementor-823 .elementor-element.elementor-element-a18a87c .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-block-start:calc(28px/2);}.elementor-823 .elementor-element.elementor-element-a18a87c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-inline:calc(28px/2);}.elementor-823 .elementor-element.elementor-element-a18a87c .elementor-icon-list-items.elementor-inline-items{margin-inline:calc(-28px/2);}.elementor-823 .elementor-element.elementor-element-a18a87c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{inset-inline-end:calc(-28px/2);}.elementor-823 .elementor-element.elementor-element-a18a87c .elementor-icon-list-item > .elementor-icon-list-text, .elementor-823 .elementor-element.elementor-element-a18a87c .elementor-icon-list-item > a{font-size:15px;line-height:1.8em;}}@media(min-width:768px){.elementor-823 .elementor-element.elementor-element-685f65b8{--width:53%;}.elementor-823 .elementor-element.elementor-element-298e3dd8{--width:17%;}.elementor-823 .elementor-element.elementor-element-3b7ea538{--width:30%;}.elementor-823 .elementor-element.elementor-element-dd8f604{--width:50%;}.elementor-823 .elementor-element.elementor-element-ef61413{--width:71%;}}@media(max-width:1024px) and (min-width:768px){.elementor-823 .elementor-element.elementor-element-dd8f604{--width:100%;}.elementor-823 .elementor-element.elementor-element-ef61413{--width:100%;}}
</style>
</head>
<body class="home wp-singular page-template-default page page-id-21409 wp-theme-hostino  underline-link-effect flip-button-effect keydesign-elementor-library elementor-default elementor-kit-6 elementor-page elementor-page-21409">
<div id="page" class="site">
  <Header />
  <slot />
  <Footer />
</div><!-- #page -->
</body>
</html>